.form__form {
  margin: 0 auto;
}

.form__fieldset {
  max-width: 385px;
  margin: 0;
  padding: 0;
  border-style: none;
}

.form__label {
  margin: 0 0 8px;
  font-size: 16px;
  display: block;
}

.form__label_text {
  margin: 0 0 0 12px;
}

.form__label_text-center {
  display: flex;
  justify-content: center;
}

.form__input {
  border: 1px solid #838383;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.form__button {
  margin: 0 0 32px;
  border-radius: 4px;
  color: #fff;
  background-color: #2f80ed;
  width: 100%;
  max-width: 385px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #838383;
  border-radius: 2px;
  background-color: #fff;
}

.form__checkbox:checked + .form__pseudo-item_type_checkbox {
  background-image: url("/images/check.svg");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  background-color: #2f80ed;
}
