.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 30px 80px 0 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.nav__links {
  display: flex;
  margin: 0;
  list-style: none;
  gap: 20px;
  padding: 0;
}

.nav__link {
  flex-direction: row;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.header__title {
  max-width: 709px;
  margin: 183px 0 0 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin: auto 80px 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-weight: 500;
  color: #838383;
}

.recipes {
  background-image: url("/images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2850;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  margin: 100px 0 0 80px;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin: 80px 0 215px;
  display: flex;
  gap: 40px;
  align-self: center;
}

.recipes__video-item {
  width: 480px;
}

.recipes__media {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.recipes__iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
  width: 480px;
  height: 273px;
}

.recipes__caption {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 24px;
}

.recipes__caption-text {
  margin: 0;
}

.reservation {
  background-image: url("/images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  padding: 80px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  margin: 0 auto 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  margin: 0 auto;
}

.reservation__fieldset {
  max-width: 385px;
  margin: 0;
  padding: 0;
  border-style: none;
}

.reservation__label {
  margin: 0 0 8px;
  font-size: 16px;
  display: block;
}

.reservation__label-text {
  margin: 0 0 0 12px;
}

.reservation__label_text-center {
  display: flex;
  justify-content: center;
}

.reservation__input {
  border: 1px solid #838383;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

.reservation__button {
  margin: 0 0 32px;
  border-radius: 4px;
  color: #fff;
  background-color: #2f80ed;
  width: 100%;
  max-width: 385px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  font-family: inherit;
  border: none;
}

.reservation__button:hover {
  opacity: 70%;
}

.reservation__checkbox[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.reservation__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #838383;
  border-radius: 2px;
  background-color: #fff;
}

.reservation__checkbox:checked + .reservation__pseudo-item_type_checkbox {
  background-image: url("/images/check.svg");
  background-position: center;
  background-size: inherit;
  background-repeat: no-repeat;
  background-color: #2f80ed;
}
